<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Middle developer</title>
</head>
<body>
<h1>{{ main }}</h1>
<h3>basic requirements:</h3>
    <ol>
        <li>{{ requirements.0 }}</li>
        <li>{{ requirements.1 }}</li>
        <li>{{ requirements.2 }}</li>
        <li>{{ requirements.3 }}</li>
        <li>{{ requirements.4 }}</li>
        <li>{{ requirements.5 }}</li>
        <li>{{ requirements.6 }}</li>
    </ol>
<h3>salary:</h3>
    <p>starting price: {{ salary.min }}</p>
    <p>in perspective: {{ salary.max }}</p>

</body>
</html>